
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Architecture</div>

            <div class="skills-grid">
                    <h3 class="center-align skills-subsection">Architecture</h3>
                    <p class="paragraph-text center-align">
                        This is our Architecture page
                    </p>
            </div>
            </div>
        </div>
    </section>
</div>
