
<div class="section-wrapper">
    <section class="section about" id="about">
        <div>
            <div class="section-heading" id="about-text">Architecture</div>

            <div class="about-grid">
                    <h3 class="center-align about-subsection">Architecture</h3>
                    <p class="paragraph-text center-align">
                        This is our Architecture page
                    </p>
            </div>
            </div>
        </div>
    </section>
</div>
